
.idea/


# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

LoggingAnnotation/target/
LoggingCore/target/
LoggingTest/target/

target/


*.iml

